.myContainer{
    width: 70%;
    margin: 0 auto;
    padding: 2em;
}

.form-control{
    width: 95%;
}

.fontBold{
    font-weight: bolder;
} 


.row>*{
    padding: 0;
}

.margin-right{
    margin-right: 1em;
}